<!DOCTYPE html>
<html lang="en">
<head>
    <title>Goals Minder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        .goal-details {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>You are logged in</p>
    <a href="{{ url_for('logout') }}">Logout</a>

    <h2>Create a New Goal</h2>
    <form method="POST" action="{{ url_for('index') }}">
        {{ form.hidden_tag() }}
        <div>
            <label for="description">Goal Description:</label>
            {{ form.description(size=30) }}
        </div>
        <div>
            <label for="completion_percentage">Completion Percentage:</label>
            {{ form.completion_percentage(size=3) }}
        </div>
        <div>
            <input type="submit" value="Create Goal">
        </div>
    </form>

    <h2>Your Goals:</h2>
    <ul>
        {% for goal in user.goals %}
        <li>
            <button class="show-hide-btn">Show/Hide</button>
            <form method="POST" action="{{ url_for('delete_goal', goal_id=goal.id) }}" class="delete-form">
                    {{ form.hidden_tag() }}
                    <div>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            <p>Description: {{ goal.description }}</p>
            <p>Completion Percentage: {{ goal.completion_percentage }}%</p>
            <div class="goal-details update-form">
                <form method="POST" action="{{ url_for('update_goal', goal_id=goal.id) }}">
                    {{ form.hidden_tag() }}
                    <div>
                        <label for="new_description">Update Description:</label>
                        <input type="text" name="new_description" value="{{ goal.description }}">
                    </div>
                    <div>
                        <label for="new_completion_percentage">Update Completion Percentage:</label>
                        <input type="number" name="new_completion_percentage" value="{{ goal.completion_percentage }}" min="0" max="100">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </li>
        {% endfor %}
    </ul>

<script>
    const showHideButtons = document.querySelectorAll('.show-hide-btn');
    showHideButtons.forEach(button => {
        button.addEventListener('click', () => {
            const container = button.closest('li');
            console.log(container)
            const updateForm = container.querySelector('.update-form');
            console.log(updateForm)
            updateForm.classList.toggle('goal-details');
        });
    });
</script>

</body>
</html>
